@import url('https://fonts.googleapis.com/css?family=Lora');

* {
    box-sizing: border-box;
    font-family: 'Lora', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 100;

}

html, body {
    height: 97%;
    margin: 10px;
}
body {
    background-color: #E5B22C;
    
}
.borders {
    margin: auto auto;
    width: 75%;
    height: 75%;
    border-radius: 12px;
    box-shadow: 0 4px 8px grey;
    background-color: antiquewhite;
    padding-top: 10%;
    
}
h1 {
    text-align: center;
    font-size:35px;
    color: black;
    padding: 5px;
}

#buttons {
    text-align: center;
    
   
}
button {
    
    margin: 10px;
    background: #1D809D;
    box-shadow: 1px 1px 5px grey;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 37px;
    font-weight: 500;
    border: none;
}

#name {
    text-align: center;
    padding: 35px;
    font-size: 45px;
    font-weight: 600;
    

}