@import url('https://fonts.googleapis.com/css?family=Lora');

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Lora', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 100;

}

body {
    background-color: #E5B22C;
}
.borders {
    align-content: center;
    margin: 20px auto;
    width: 600px;
    height: 700px;
    border-radius: 12px;
    box-shadow: 0 4px 8px grey;
    background-color: antiquewhite;
    padding-top: 10%;
    
}
h1 {
    margin-left: 15%;
    font-size:35px;
    color: black;
    padding: 5px;
}

#buttons {
    margin-left: 35%;
   
}
button {
    margin-top: 17px;
    background: #1D809D;
    box-shadow: 1px 1px 5px grey;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 500;
    border: none;
}

#name {
    margin-left: 27%;
    padding: 35px;
    font-size: 45px;
    font-weight: 600;
    

}